html,
body {
    margin: 0;
}

.title-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumslateblue;
}
